<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User page</title>
    </head>
    <body>
    <div th:switch="${allUsers}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2 align="center">Users</h2>
            <table border="4" align="center">
                <thead>
                <tr bgcolor="#7fffd4">
                    <th><b>ID</b></th>
                    <th><b>Name</b></th>
                    <th><b>email</b></th>
                    <th><b>Roles</b></th>
                    <th><b>Edit</b></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${allUsers}">
                    <td align="center" th:text="${user.id}"></td>
                    <td align="center" th:text="${user.name}"></td>
                    <td align="center" th:text="${user.email}"></td>
                    <td align="center" th:text="${user.roleSet}"></td>
                    <td align="center"><a th:href="@{/admin/editUser/{id}(id=${user.id})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p align="center"><a href="/admin/signup">Add a new user</a></p>
        <p align="center"><a href="../../static/index.html">Start Page</a></p>
        <p align="center"><a href="/logout">Logout</a></p>
    </div>
    </body>
</html>